{% extends "main.html" %}
{% load static %}

{% block individual_head %}
    <link rel="Stylesheet" type="text/css" href="{% static 'css/rental/rental.css' %}"/>
    <title>rent</title>
{% endblock individual_head %}

{% block content %}
    {% block data %}
        <h2>Wypożyczalnia</h2>

        <div class="table_container">
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th scope="col">data</th>
                    <th scope="col">imię</th>
                    <th scope="col">nazwisko</th>
                    <th scope="col">numer pokoju</th>
                    <th scope="col">godzina pobrania</th>
                    <th scope="col">godzina oddania</th>
                </tr>
                </thead>
                {% for i in rentData %}
                    <tr>
                        <th scope="col">{{ i.0 }}</th>
                        <th scope="col">{{ i.1 }}</th>
                        <th scope="col">{{ i.2 }}</th>
                        <th scope="col">{{ i.3 }}</th>
                        <th scope="col">{{ i.4 }}</th>
                        <th scope="col">{{ i.5 }}</th>
                        <th scope="col">{{ i.6 }}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endblock data %}

    {% block input %}
        <section>
            <div class="container input-container">
                <div class="row align-content-center">
                    <form action={% url 'rentItem' %} method="post">{% csrf_token %}
                        <select class="col-sm-6">
                            <option value="" selected disabled hidden>Choose here</option>
{#                        Todo send it as value #}
                            {% for i in availableItems %}
                                <option>{{ i.0 }} {{ i.1 }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Submit" name="submit">

                    </form>
                </div>
            </div>
        </section>
    {% endblock input %}

{% endblock content %}