{% extends "main.html" %}
{% load static %}
{% block individual_head %}
    <link rel="Stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock individual_head %}
{% block content %}
    <h2>Akademikowe zeszyty</h2>
    <div class="container">

        <section>
            <div class="container">
                <div class="row">
                    <form id='change-organization-form' class="col-sm-6" action={% url 'organization' %} method="post"
                    >{% csrf_token %}
                        <button id='change-organization-button' name='organization' class="btn bg-transparent ">
                            <img class="img-fluid rounded mx-auto d-block" src="{% static  organizationLogoPath %}"
                                 alt="logo">
                        </button>
                    </form>

                    <div class="col-sm-6, login-form">
                        <form action={% url "login" %} method=POST>{% csrf_token %}
                            <label>Akademik</label><br>
                            {{ form.dorms }} <br>
                            <label>login</label><br>
                            {{ form.login }} <br>
                            <label>hasło</label><br>
                            {{ form.password }} <br>
                            {% if messages %}
                                {% for message in messages %}
                                    <p{% if message.tags %} class="{{ message.tags }} "
                                                            style="color: red" {% endif %}>{{ message }}</p>
                                {% endfor %}
                            {% endif %}

                            <input type="submit" value="Submit">
                        </form>

                        <div class="registration_blue_bar">

                            <p>Nie masz konta ?</p>
                            <button>Zarejstruj</button>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


{% endblock content %}

