/*body > **/
/*{*/
/*    border-style: solid;*/
/*}*/

/*div.container > **/
/*{*/
/*    border-style: double;*/
/*}*/



div.button_container
{
    /*buttons setting's */
    align-self: center;

    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    position: center;
}


button.home_button
{
     /*buttons view */
    width: 250px;
    height: 250px;
    font-size: 23px;
    border-radius: 1.6em;
    margin: 0.5em;
    color: white;
    background: radial-gradient(rgb(35, 147, 252), #1968aa, rgb(19, 77, 125), rgb(19, 77, 125));
}

/*koniec home*/

.btn-primary
{
    background: radial-gradient(rgb(35, 147, 252), #1968aa, rgb(19, 77, 125), rgb(19, 77, 125));
    border-radius: 1.6em;
}


/*!*pralnia*!*/


/*div.table_container*/
/*{*/
/*    max-width: 90%;*/
/*    margin-left: 5%;*/
/*}*/

/*.table-striped*/
/*{*/
/*    background: rgba(255, 255, 255, 0.8);*/
/*    width: 100%;*/
/*    border-style: solid;*/
/*}*/

/*table.table-striped > tr, td, th*/
/*{*/
/*    padding: 15px;*/
/*    text-align: center;*/
/*}*/

/*div.small_container*/
/*{*/
/*    align-self: center;*/
/*    margin-top: 4em;*/
/*    text-align: center;*/
/*    width: 15%;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

/*#logout*/
/*{*/
/*    align-self: right;*/

/*}*/

/*#d2*/
/*{*/
/*    width: 100%;*/
/*    display: grid;*/
/*    grid-template-columns: 50% 50%;*/
/*}*/

/*#second_bar_button*/
/*{*/
/*    position: relative;*/
/*    margin-right: 10%;*/
/*    margin-left: 85%;*/

/*}*/

/*.del*/
/*{*/
/*    color: red;*/
/*}*/


/*@media screen and (max-width: 800px)*/
/*{*/
/*    button.home_button*/
/*    {*/
/*        !*font-size: 0.5em;*!*/
/*        !*width: 100px;*!*/
/*        !*height: 100px;*!*/
/*    }*/
/*    h2*/
/*    {*/
/*        !*font-size: 0.8em;*!*/
/*    }*/


/*}*/